#sdi_logo img{
    width: 10%;
    margin-left: 10%;
    top: 2%
}

#rota_logo img{
    width: 20%;
    position: absolute;
    right: 10%;
    top: 3%;
}

#sdi_logo div{
    color: black;
    position: relative;
    margin-left: 12%;
}

#bit_logo{
    position: absolute;
    top: 3%;
    left: 40%;
}