#sdi_logo img{
    position: relative;
    top:3%;
    width: 10%;
    margin-left: 25%;
}

#rota_logo img{
    width: 20%;
    position: absolute;
    right: 10%;
    top: 2%;
}

#sdi_logo div{
    color: black;
    position: relative;
    margin-left: 25%;
}

#bit_logo img{
    position: absolute;
    top: 2%;
    left: 65%;
    width: 9%;
}

